* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstSection {
  position: relative;
  width: 100%;
}

.secondSection {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.thirdSection {
  position: relative;
  width: 100%;
  padding-top: 150px;
  min-height: 800px;
}

.contactme {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}

.contactme > * {
  z-index: 35;
}
