* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstSection {
  position: relative;
  width: 100%;
}

.secondSection {
  position: relative;
  width: 100%;
  min-height: 500px;
}

.thirdSection {
  position: relative;
  width: 100%;
  padding-top: 150px;
  min-height: 500px;
}

.contactme {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactme > * {
  z-index: 35;
}
